<mat-sidenav-container>

  <mat-sidenav mode="side" [opened]="menuStatus">
    <div class="row title">Menu</div>
    <div class="row">
      <label for="image_uploads" class="button">Upload</label>
      <input id="image_uploads" name="image_uploads" type="file" accept=".txt" (change)="fileUpload($event)">
    </div>
    <div class="row"><button mat-raised-button color="primary" (click)="getAll()">Todos</button></div>
    <div class="row"><button mat-raised-button color="primary" (click)="getFilter($event.target)">Informatica</button></div>
    <div class="row"><button mat-raised-button color="primary" (click)="getFilter($event.target)">Catecumeno</button></div>
    <div class="row"><button mat-raised-button color="primary" (click)="getFilter($event.target)">CNE</button></div>
  </mat-sidenav>

  <mat-sidenav-content>

    <body>
      <div id='map' class="map"></div>
    </body>
  </mat-sidenav-content>


</mat-sidenav-container>
