.mat-sidenav-container {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.mat-sidenav {
  width: 10%;
  background-color:#313a42;
}

button, .button {
  width: 100%;
  margin: 0 5px 0 5px;
}

.title {
  color: white;
  font-size: 1.87em;
  font-weight: bold;
  text-shadow: 2px 2px rgb(48, 48, 51);
  justify-content: center;
}

#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


label {
  background-color: #7F9CCB;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}

#image_uploads{
  display: none;
}
