/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #313a42;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.row-spacer {
  flex: 1 auto;
}
